
canvas {
    position: fixed;
    top: 0;
    left: 0
}

button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}